@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* Apply Fonts */
  width: 100%;
  min-height: 100vh;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary: #297c6b;
  --primary-light: #5bc8af;
  --primary-dark: #194d44;
  --primary-bold: #333;
  --muted: #eaeaea;
  --white: #ffffff;

  --linear-bg: linear-gradient(
    to bottom,
    hsla(167, 50%, 33%, 1),
    hsla(167, 26%, 33%, 0.62)
  );

  --max-widht-pc: 1440px;
  --max-widht-tablet: 768px;
  --max-widht-mobile: 360px;
}

/* Hero Section Start */
/* Hero Section End */

