*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  /* Apply Fonts */
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;

}

:root {
  --primary: #297c6b;
  --primary-light: #5bc8af;
  --primary-dark: #194d44;
  --primary-bold: #333;
  --muted: #eaeaea;
  --white: #ffffff;

  --linear-bg: linear-gradient(
    to bottom,
    hsla(167, 50%, 33%, 1),
    hsla(167, 26%, 33%, 0.62)
  );
}
